.favoritesBody{
    background-color: #040b3f;
}
.favoriteItem{
    background-color: #3a30b8;
    width: 200px;
    margin-right: 50px;
    padding-left: 50px;
    display: inline-block;
    color: white;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-right: 50px;
    padding-bottom: 250px;
    border-radius: 10px;

}
.sectionFavorites{
    margin-top: 150px;
    margin-left: 80px;
    justify-content: space-between;
}
.symbol{
    display: inline;
}
.favoritesSectionAvg{
    position: absolute;
    margin-top: 100px;
    margin-left: -75px;
    justify-content: space-between;
    gap: 20px;
}
#deleteFav {
    position: absolute;
    width: 100px;
    margin-top: 265px;
    margin-left: -40px;
}

.favoritesHeader{
    margin-left: 50px;
    text-align: left;
}

.percent1 {
    margin-left: 5px;
}

.positive {
    color: #00fa00;
}

.negative {
    color: red;
}
#avatar{
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 50px;
}
#username1{
    float: right;
    margin-right: 200px;
    padding-left: -100px;
    margin-top: 15px;
}
